<h2>Vista de Usuarios</h2>
<table class="table">
    <thead>

    <tr>
        <th scope="col"> ID</td>
        <th scope="col"> Usuario</td>
        <th scope="col"> Password</td>
        <th scope="col"> Mail confirmado</td>
        <th scope="col"> Estado</td>
       
    </tr>
    </thead>
    
    <tbody>
    <tr>
        <th scope="row"> {{id_usuario}} </td>
        <th scope="row"> {{usuario}} </td>
        <th scope="row"> {{password}} </td>
        <th scope="row"> {{confirmado}} </td>
        <th scope="row"> {{estado}} </td>


    </tr>
    </tbody>



</table>